*, *:focus, *:active{
	outline-style: none;
}

body{
	background-color: #444;
}

.container-fluid{
	width: 100%;
	height: 40px;
	margin: auto;
	margin-bottom: -30px;
	background: rgb(102,102,102); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(102,102,102,1) -1%, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 0%, rgba(102,102,102,1) 0%, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(44,44,44,1) 18%, rgba(0,0,0,1) 46%, rgba(17,17,17,1) 78%, rgba(28,28,28,1) 100%, rgba(43,43,43,1) 100%, rgba(19,19,19,1) 100%, rgba(43,43,43,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(102,102,102,1) -1%,rgba(76,76,76,1) 0%,rgba(71,71,71,1) 0%,rgba(102,102,102,1) 0%,rgba(102,102,102,1) 0%,rgba(89,89,89,1) 0%,rgba(44,44,44,1) 18%,rgba(0,0,0,1) 46%,rgba(17,17,17,1) 78%,rgba(28,28,28,1) 100%,rgba(43,43,43,1) 100%,rgba(19,19,19,1) 100%,rgba(43,43,43,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(102,102,102,1) -1%,rgba(76,76,76,1) 0%,rgba(71,71,71,1) 0%,rgba(102,102,102,1) 0%,rgba(102,102,102,1) 0%,rgba(89,89,89,1) 0%,rgba(44,44,44,1) 18%,rgba(0,0,0,1) 46%,rgba(17,17,17,1) 78%,rgba(28,28,28,1) 100%,rgba(43,43,43,1) 100%,rgba(19,19,19,1) 100%,rgba(43,43,43,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
}

#totalTitle{
	float: left;
}

#minTitle{
	float: right;
}

.header-right{
	float: right;
	height: 40px;
	width: 600px;
	font-size: 18px;
	color: #ded40a;
	line-height: 40px;
}

.header-left{
	float: left;
	height: 40px;
	width: 600px;
	font-size: 18px;
	color: #ded40a;
	line-height: 40px;
}

#playerBank{
	float: left;
	text-align: center;
	width: 150px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	color: #000;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 5px;
}

.bet-amount, .split-amount, .insurance-amount{
	position: absolute;
	left: 1000px;
	top: 650px;
	width: 130px;
	height: 60px;
	border: 2px solid #000;
	color: #ded40a;
	background-color: #333;
	border-radius: 5px;
	padding: 0;
	text-align: center;
	z-index: 3;
}

.insurance-amount{
	left: 600px;
}

.split-amount{
	left: 1150px;
}

button#bet-reset{
	position: relative;
	display: block;
	z-index: 99;
	margin: -7px 0 0 -2px;
	border-radius: 0 0 5px 5px;
	border: 2px solid black;
	font-size: 12px;
	font-weight: normal;
	width: 130px;
	height: 30px;
	background-color: #333;
}

.container{
	margin: auto;
	margin-top: 30px;
	height: 850px;
	text-align: center;
	background: rgb(32,87,109); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(32,87,109,1) 13%, rgba(41,137,216,1) 38%, rgba(32,87,109,1) 75%, rgba(32,87,109,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(32,87,109,1) 13%,rgba(41,137,216,1) 38%,rgba(32,87,109,1) 75%,rgba(32,87,109,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(32,87,109,1) 13%,rgba(41,137,216,1) 38%,rgba(32,87,109,1) 75%,rgba(32,87,109,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20576d', endColorstr='#20576d',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: inset 1px 1px 88px 23px rgba(68,68,68,0.9);
	-moz-box-shadow: inset 1px 1px 88px 23px rgba(68,68,68,0.9);
	box-shadow: inset 1px 1px 88px 23px rgba(68,68,68,0.9);
	}

.row{
	margin: auto;
}

.the-table{
	box-sizing: content-box;
	background-image: url('../images/blackjack-table.png');
	background-position: center;
	/* background: rgb(0,138,0); */
	border: 80px solid transparent;
	border-radius: 30px 30px 50% 50%;
	margin: 20px 0 0 30px;
	padding:  15px 0;
	height: 480px;
	width: 920px;
	transform: perspective(1200px) translateY(0px);
	perspective-origin: 25% 75%;
}

#wood{
	position: absolute;
	width: 1210px;
	margin: -37px 0 0 -595px;
	z-index: 0;
}

#arm-rest{
	position: fixed;
	width: 1300px;
	padding: 0px;
	margin: -200px -20px -20px -100px;
	border-radius: 40px 40px 100% 100%;
	border: 85px solid transparent;
    transform: perspective(800px) rotateX(45deg);
	perspective-origin: 25% 75%;
}

#leather{
	position: absolute;
	width: 1370px;
	margin: -70px 0 0 -670px;
	z-index: 0;
}


button{
	margin:30px 0px 10px 0px;
	height: 60px;
	width: 180px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	-webkit-box-shadow: 1px 1px 8px 2px rgba(68,68,68,0.9);
	-moz-box-shadow: 1px 1px 8px 2px rgba(68,68,68,0.9);
	box-shadow: 1px 1px 8px 2px rgba(68,68,68,0.9);
}

button:hover{
	background-color: #ededed;
}

button:active{
	transform: translateY(4px);
}

.buttons-lower{
	float: left;
	margin-top: -20px;
	padding: 0 15px;
	width: 40%;
	text-align: left;
	box-sizing: border-box;
}

.split-group{
	padding: 0;
	max-width: 500px;
}

.player-total.split-total{
	margin-left: 15px;
}

.card{
	position: absolute;
	height: 120px;
	background-color: transparent;
	color: #fff;
	margin: 10px;
	width: 87px;
	border: 2px solid transparent;
	border-radius: 5px;
	overflow: hidden;
	perspective: 1200px;
	transform: rotateY(180deg) rotateX(-180deg);
}


.card img{
	height: 120px;
	margin: -2px 0 0 -15.5px;
	-webkit-box-shadow: 6px 4px 3px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 4px 3px -2px rgba(0,0,0,0.75);
	box-shadow: 6px 4px 3px -2px rgba(0,0,0,0.75);
}

.card-container{
	height: 120px;
	width: 87px;
	transform-style: preserve-3d;
	transition: all .5s;
}

.card-front, .card-back {
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
}

.card-front{
}

.card-back{
	background-image: url('../images/deck.png');
	transform: rotateY(180deg);
	height: 100%;
	width: 100%;
	margin: -2px 0 0 -17px;
}

.player-cards .card-1{
	z-index: 7;
	left: 430px;
	top: 300px;
	/* border: 2px solid #ded40a; */
}

.player-cards .card-2{
	z-index: 7;
	left: 450px;
	top: 250px;
}

.player-cards .card-3{
	z-index: 7;
	left: 470px;
	top: 200px;
}

.player-cards .card-4{
	z-index: 7;
	left: 490px;
	top: 150px;
}

.player-cards .card-5{
	z-index: 7;
	left: 510px;
	top: 100px;
}

.player-cards .card-6{
	z-index: 7;
	left: 530px;
	top: 50px;
}

.dealer-cards .card-1{
	left: 250px;
	top: 0px;
	/* border: 2px solid #ded40a; */
}

.dealer-cards .card-2{
	left: 270px;
	top: 0px;
}

.dealer-cards .card-3{
	left: 290px;
	top: 0px;
}

.dealer-cards .card-4{
	left: 310px;
	top: 0px;
}

.dealer-cards .card-5{
	left: 330px;
	top: 0px;
}

.dealer-cards .card-6{
	left: 350px;
	top: 0px;
}

.player-cards .card-back{

}

.dealer-cards .card-back{

}

.split-cards .card-1{
	z-index: 5;
	left: 490px;
	top: 300px;
}

.split-cards .card-2{
	z-index: 5;
	left: 510px;
	top: 250px;
}

.split-cards .card-3{
	z-index: 5;
	left: 530px;
	top: 200px;
}

.split-cards .card-4{
	z-index: 5;
	left: 550px;
	top: 150px;
}

.split-cards .card-5{
	z-index: 5;
	left: 570px;
	top: 100px;
}

.split-cards .card-6{
	z-index: 5;
	left: 590px;
	top: 50px;
}

.splitLeft{
	transition: .5s;
	transform: translateX(-70px);
}

.splitRight{
	transition: .5s;
	transform: translateX(20px);
}

.dealer-total{
	background: rgb(240,183,161); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(240,183,161,1) 0%, rgba(140,51,16,1) 26%, rgba(140,51,16,1) 35%, rgba(117,34,1,1) 49%, rgba(191,110,78,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 26%,rgba(140,51,16,1) 35%,rgba(117,34,1,1) 49%,rgba(191,110,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 26%,rgba(140,51,16,1) 35%,rgba(117,34,1,1) 49%,rgba(191,110,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	width: 180px;
	height: 60px;
	border: 3px solid rgba(191,110,78,1);
	border-radius: 10px;
	margin: 30px 20px 10px 90px;
	line-height: 60px;
	font-size: 20px;
	color: #b5a642;
	-webkit-box-shadow: 1px 1px 8px 2px rgba(68,68,68,0.9);
	-moz-box-shadow: 1px 1px 8px 2px rgba(68,68,68,0.9);
	box-shadow: 1px 1px 8px 2px rgba(68,68,68,0.9);
	
}

.player-total{
	background: rgb(240,183,161); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(240,183,161,1) 0%, rgba(140,51,16,1) 26%, rgba(140,51,16,1) 35%, rgba(117,34,1,1) 49%, rgba(191,110,78,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 26%,rgba(140,51,16,1) 35%,rgba(117,34,1,1) 49%,rgba(191,110,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 26%,rgba(140,51,16,1) 35%,rgba(117,34,1,1) 49%,rgba(191,110,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	width: 180px;
	height: 60px;
	border: 3px solid rgba(191,110,78,1);
	border-radius: 10px;
	margin: 10px 20px 10px 90px;
	line-height: 60px;
	font-size: 20px;
	color: #b5a642;
	-webkit-box-shadow: 1px 1px 8px 2px rgba(68,68,68,0.9);
	-moz-box-shadow: 1px 1px 8px 2px rgba(68,68,68,0.9);
	box-shadow: 1px 1px 8px 2px rgba(68,68,68,0.9);
	
}

.dealt1{
	animation: dealCard1 .6s;
}
.dealt2{
	animation: dealCard2 .6s;
}
.dealt3{
	animation: dealCard3 .6s;
}
.dealt4{
	animation: dealCard4 .6s;
}
.dealt5{
	animation: dealCard5 .6s;
}
.dealt6{
	animation: dealCard6 .6s;
}
.dealerDealt1{
	animation: dDealCard1 .6s;
}
.dealerDealt2{
	animation: dDealCard2 .6s;
}
.dealerDealt3{
	animation: dDealCard3 .6s;
}
.dealerDealt4{
	animation: dDealCard4 .6s;
}
.dealerDealt5{
	animation: dDealCard5 .6s;
}
.dealerDealt6{
	animation: dDealCard6 .6s;
}
.splitDealt1{
	animation: sDealCard1 .6s;
}
.splitDealt2{
	animation: sDealCard2 .6s;
}
.splitDealt3{
	animation: sDealCard3 .6s;
}
.splitDealt4{
	animation: sDealCard4 .6s;
}
.splitDealt5{
	animation: sDealCard5 .6s;
}
.splitDealt6{
	animation: sDealCard6 .6s;
}

@keyframes dealCard1{
	0%{transform: translate(350px,-300px)}
	100%{}
}

@keyframes dealCard2{
	0%{transform: translate(330px,-250px)}
	100%{}
}

@keyframes dealCard3{
	0%{transform: translate(330px,-200px)}
	100%{}
}

@keyframes dealCard4{
	0%{transform: translate(330px,-150px)}
	100%{}
}

@keyframes dealCard5{
	0%{transform: translate(330px,-100px)}
	100%{}
}

@keyframes dealCard6{
	0%{transform: translate(330px,-50px)}
	100%{}
}

@keyframes dDealCard1{
	0%{transform: translate(460px,0px)}
	100%{}
}

@keyframes dDealCard2{
	0%{transform: translate(460px,0px)}
	100%{}
}

@keyframes dDealCard3{
	0%{transform: translate(460px,0px)}
	100%{}
}

@keyframes dDealCard4{
	0%{transform: translate(460px,0px)}
	100%{}
}

@keyframes dDealCard5{
	0%{transform: translate(460px,0px)}
	100%{}
}

@keyframes dDealCard6{
	0%{transform: translate(460px,0px)}
	100%{}
}

@keyframes sDealCard1{
	0%{transform: translate(-60px,0px)}
	100%{}
}

@keyframes sDealCard2{
	0%{transform: translate(270px,-250px)}
	100%{}
}

@keyframes sDealCard3{
	0%{transform: translate(210px,-200px)}
	100%{}
}

@keyframes sDealCard4{
	0%{transform: translate(150px,-150px)}
	100%{}
}

@keyframes sDealCard5{
	0%{transform: translate(90px,-100px)}
	100%{}
}

@keyframes sDealCard6{
	0%{transform: translate(30px,-50px)}
	100%{}
}

/* Deck of Cards  */

#deckOfCards{
	position: absolute;
	left: 800px;
	top: -30px;
	height: 180px;
	background-color: transparent;
	color: #fff;
	margin: 10px;
	width: 180px;
	border: 2px solid transparent;
	border-radius: 5px;
	overflow: hidden;
}

.deck-card{
	/* margin: 10px; */
	position: absolute;
	left: 0;
	top: 25px;
	height: 140px;
}

.flip{
	/* transform: rotateY(-180deg) rotateX(180deg); */
}

.activeChip{
	position: absolute;
	width: 44px;
	height: 31px;
	margin-left: -21px;
	z-index: 2;
}

#fiveChip{
	position: absolute;
	left: 572px;
	top: 580px;
	z-index: 2;
}

#fiveChips img{
	height: 60px;
	width: 47px;
	z-index: 2;
	transform: skew(-5deg,1deg);
}

#tenChip{
	position: absolute;
	left: 621px;
	top: 550px;
	z-index: 2;
}

#tenChips img{
	height: 85px;
	width: 48px;
	margin-left:-4px;
	z-index: 2;
	transform: skew(-5deg,1deg);
}

#twentyFiveChip{
	position: absolute;
	left: 667px;
	top: 550px;
	z-index: 2;
}

#twentyFiveChips img{
	height: 75px;
	width: 47px;
	margin-left:-4px;
	z-index: 2;
	transform: skew(-5deg,1deg);
}

#hundredChip{
	position: absolute;
	left: 707px;
	top: 563px;
	z-index: 2;
}

#hundredChips img{
	height: 50px;
	width: 47px;
	z-index: 2;
	transform: skew(-7deg,1deg);
}

#betArea{
	position: absolute;
	left: 575px;
	top: 480px;
	height: 100px;
	width: 140px;
	border: 2px solid #ded40a;
	border-radius: 15px;
	color: #ded40a;
	font-size: 16px;
	font-style: italic;
	margin-left: -160px;
}

#dropArea{
	width: 100%;
	height: 80%;
	padding: 0 20px;
	box-sizing: border-box;
}

#cup-holder{
	position: absolute;
	left: 400px;
	top: 600px;
	width: 70px;
	height: 50px;
	border: 3px solid #fef42a;
	border-radius: 50%;
	background: -moz-linear-gradient(left,  rgba(222,212,10,0.8) 0%, rgba(234,224,22,1) 19%, rgba(254,244,42,1) 51%, rgba(234,224,22,1) 81%, rgba(222,212,10,0.8) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(222,212,10,0.8) 0%,rgba(234,224,22,1) 19%,rgba(254,244,42,1) 51%,rgba(234,224,22,1) 81%,rgba(222,212,10,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(222,212,10,0.8) 0%,rgba(234,224,22,1) 19%,rgba(254,244,42,1) 51%,rgba(234,224,22,1) 81%,rgba(222,212,10,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccded40a', endColorstr='#ccded40a',GradientType=1 ); /* IE6-9 */
}

.modal-dialog{
	margin: auto;
	width: 480px;
	height: 300px;
	margin-top: 300px;
	color: #fff;
	border-radius: 50px;
}

.modal-header, .modal-body {
	background-image: url('../images/paisley-background300.png');
	background-color: rgb(32,87,109);
}

.modal-header{
	border-radius: 5px 5px 0 0;
}

.modal-body{
	border-radius: 0 0 5px 5px;
}
